# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
ENV/
env/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Editor directories
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
